.lottery__container {
  border: solid 2px  #009688;
  padding: 1em 0 2em 0;
  text-align: center;
  margin: 1em auto auto;
  border-radius: 10px;
  width: 50em;
}

.lottery__container h1 {
  font-size: 3em;
  color: #673AB7;
}

.lottery__container button {
  background-color: #00BCD4;
  color: #fff;
  font-size: 1.25em;
  border-radius: 10px;
  margin-top: 1em;
  padding: 1em;
}